{% extends 'main.html' %}
{% block content %}
<div class="container p-5">
    <div class="card card-border border-dark">
        <div class="card-header bg-dark">
            {% include 'navbar.html' %}
        </div> 
        <div style="width: 100%;">
            <div class="p-3 d-flex">
                <div style="width: 25%;">

                </div>
                <div class="mb-3" style="width: 50%;">
                    <form id="updateChartForm" method="GET">
                        <div class="d-flex justify-content-evenly">
                            <div>
                                <label for="monthDropdown" class="form-label">Select Month:</label>
                                <select id="monthDropdown" class="form-select" name="month" onchange="submitForm()">
                                    {% for month in available_months %}
                                        <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="yearDropdown" class="form-label">Select Year:</label>
                                <select id="yearDropdown" class="form-select" name="year" onchange="submitForm()">
                                    {% for year in available_years %}
                                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="width: 25%;">

                </div>
                <script>
                    // Function to submit the form when dropdowns are changed
                    function submitForm() {
                        document.getElementById('updateChartForm').submit();
                    }
                
                    // Initialize the event listeners on page load
                    document.addEventListener('DOMContentLoaded', function () {
                        // Event listener for dropdown changes
                        document.getElementById('monthDropdown').addEventListener('change', submitForm);
                        document.getElementById('yearDropdown').addEventListener('change', submitForm);
                    });
                </script>
            </div>
        </div>
            <div>
                <canvas id="storeSuppliesLineChart"></canvas>
                
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const dates = [{% for date in dates %}'{{ date }}',{% endfor %}];
                const invoice_totals = [{% for total in invoice_totals %}{{ total }},{% endfor %}];
        
                const ctxStoreSuppliesLineChart = document.getElementById('storeSuppliesLineChart');
                new Chart(ctxStoreSuppliesLineChart, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Invoice Total - {{ department_name}}',
                            data: invoice_totals,
                            fill: false,
                            borderColor: 'red',
                        }],
                    },
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Date',
                                },
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Total',
                                },
                            },
                        },
                    },
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}